.header {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: var(--font-size-7);
  font-family: var(--font-monospace);
  margin-bottom: var(--space-3);
}

.text {
  font-size: var(--font-size-3);
  color: var(--color-text);
  text-align: center;
} 