.themeToggle {
  background-color: var(--color-background-tertiary);
  padding: var(--space-xs);
  line-height: 0;

  border: none;
  border-radius: var(--radius-s);
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* SVG icon styles */
.themeToggleButton svg {
  display: block;
  width: 30px;
  height: 30px;
}

.moonShape {
  fill: #fff;
}

.sunShape,
.sunLines {
  fill: #fff;
  stroke: #fff;
}
