.smallCardGrid {
  display: grid;
  /* gridTemplateColumns: `repeat(auto-fill, minmax(${width}, 1fr) )` -- will be set via style prop */
  grid-auto-rows: 1fr;
}

/* Styles for direct children divs */
.smallCardGrid > :global(div) {
  background-color: var(--color-card-bg);
  padding: var(--space-3); /* p: 3 */
  border-radius: 10px; /* Overrides global --border-radius if it's 0 */
}
