.themeToggle {
  background-color: var(--color-text);
  padding: var(--space-1);
  line-height: 0;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-background);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* SVG icon styles */
.themeToggleButton svg {
  display: block;
  width: 30px;
  height: 30px;
}

.moonShape {
  fill: var(--color-background);
}

.sunShape,
.sunLines {
  fill: var(--color-background);
  stroke: var(--color-background);
}
