.alert {
  padding: var(--space);
  border-radius: var(--radius);
}

.neutral {
  color: var(--color-text);
  background-color: var(--color-background-tertiary);
}

.info {
  color: var(--color-alert-info-text);
  background-color: var(--color-alert-info-bg);
}
