.pageGrid {
  display: grid;
  gap: var(--space-l);
}

.sectionHeading {
  margin-bottom: var(--space);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  gap: var(--space);
}

.biggerGrid {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}