// common
.listGrid {
  display: grid;
  gap: var(--space-m);
  padding: var(--space-m);
}

.noRecordsText {
  color: var(--color-muted);
}

// players land claims page specific classes
.chunkCard:hover {
  transform: scale(1.03);
}

.chunkCardButton {
  padding: 0;
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  width: 100%;
  font-size: var(--font-size);
  color: var(--color-text);
}

.chunkCardDimensionIcon {
  width: 64px;
  height: 64px;
}

.chunkCardIconPaths {
  fill: #fff;
}