.recipesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  gap: var(--space);
}

@include common.desktopScreenStyles {
  .recipesGrid {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}

.brokenRecipeText {
  color: var(--color-primary);
  /* Make it stand out */
  font-weight: var(--font-weight-bold);
}