// ===== player header stuff
.playerHeader {
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 10;

  height: 125px;
  overflow: hidden;

  display: flex;
  align-items: center;
  gap: var(--space);
  position: relative;
  padding: var(--space-s);
}

.playerPortrait {
  align-self: flex-start;
  position: relative;
}

.playerInfoGrid {
  display: grid;
  gap: var(--space-s);
  flex-grow: 1;
}

.playerNameHeading {
  font-size: var(--font-size-l);
}

.playerDetailText {
  display: flex;
  align-items: center;
  gap: var(--space-s);
}

.playerDetailIcon {
  height: var(--font-size-m);
  width: var(--font-size-m);
  fill: #fff;
}

.communityWatermark {
  position: absolute;
  width: 45px;
  opacity: 0.75;
  top: 15px;
  right: 15px;
  z-index: -1;
}

// ===== chunk list stuff
.chunkListGrid {
  display: grid;
  gap: var(--space-m);
  padding: var(--space-m);
}

.chunkCardButton {
  padding: 0;
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  width: 100%;
}

// ===== chunk card stuff
.chunkCardWrapper {
  display: flex;
  align-items: center;
  transition: transform 0.15s ease;
  gap: var(--space);
}

.chunkCardWrapper:hover {
  transform: scale(1.03);
}

.chunkCardDimensionIcon {
  width: 64px;
  height: 64px;
}

.noChunksText {
  color: var(--color-muted);
}