.chunkListGrid {
  display: grid;
  gap: var(--space-m);
  padding: var(--space-m);
}

.chunkCard:hover {
  transform: scale(1.03);
}

.chunkCardButton {
  padding: 0;
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  width: 100%;
}

.chunkCardDimensionIcon {
  width: 64px;
  height: 64px;
}

.chunkCardIconPaths {
  fill: #fff;
}

.noChunksText {
  color: var(--color-muted);
}