.playerGrid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space);
  justify-content: center;

  @include common.desktopScreenStyles {
    gap: 6rem;
  }
}

// item frame link

.playerLink {
  padding: var(--space-xs);
  border-radius: var(--radius);
  position: relative;
}

.playerImage {
  width: 64px;
  height: auto;
  display: block;
  transition: transform 0.2s ease;
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.3));

  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  @include common.desktopScreenStyles {
    width: 128px;
  }
}

.itemFrame {
  display: block;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);

  @include common.desktopScreenStyles {
    width: 200px;
    height: 200px;
  }
}

@include common.desktopScreenStyles {
  .playerLink:hover .playerImage {
    transform: scale(1.05);
  }
}

// tooltip stuff from MinecraftSlot
.tooltip {
  content: attr(data-tooltip-name);

  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);

  width: max-content;
  padding: 7px;
  border-radius: 7px;
  border: 3px solid #2f0864;

  background: #1a0c1b;
  color: #fff;
  text-align: center;
  font-size: 0.9em;
  font-family: "Minecraft", monospace;

  z-index: 30;
  display: none;

  @include common.mobileScreenStyles {
    display: block;
  }
}

@include common.desktopScreenStyles {
  .playerLink:hover .tooltip {
    display: block;
  }
}

// form stuff

.form_Label {
  margin-right: var(--space);
}

.form_TextInput {
  padding: var(--textFrameY) var(--textFrameX);
}