// ===== chunk list stuff
.chunkListGrid {
  display: grid;
  gap: var(--space-m);
  padding: var(--space-m);
}

.chunkCardButton {
  padding: 0;
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  width: 100%;
}

// ===== chunk card stuff
.chunkCardWrapper {
  display: flex;
  align-items: center;
  transition: transform 0.15s ease;
  gap: var(--space);
}

.chunkCardWrapper:hover {
  transform: scale(1.03);
}

.chunkCardDimensionIcon {
  width: 64px;
  height: 64px;
}

.noChunksText {
  color: var(--color-muted);
}